params {
    samplesheet = 'test_data/samplesheet.tsv'
    outdir      = 'results'
}

docker {
    enabled = true
}

profiles {

    slurm {
        process.executor = 'slurm'
        process.queue    = 'standard'
        process.cpus     = 4
        process.memory   = '8 GB'
        process.time     = '2h'
    }

}

